.hero {
  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    min-height: 70em;
    box-sizing: border-box;
    padding: 4vw 6em;
    background: url(../images/hero-desktop.png);
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    font-size: 11px;

    h1 {
      max-width: 900px;
      font-size: 4.4em;
      color: $white;
      text-align: center;
      margin-bottom: 2em;
    }

    &-buttons {
      width: 90%;
      max-width: 900px;
      display: flex;
      gap: 5%;

      .button {
        height: 5.5em;
        flex-grow: 1;
        background: $white;
        box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        flex: 1 0 0;
        transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation: 0.4s ease-out GrowInSmooth backwards;
        //font
        color: $black-2;
        font-style: normal;
        font-weight: 600;
        font-size: 4em;
        line-height: 1.2;
        text-align: center;

        background-color: $white;
        background: linear-gradient(
            45deg,
            #86a4f496 0%,
            #b0a9fe96 23%,
            #fbb64f96 50%,
            $white 70%,
            $white
          ),
          $white;
        background-repeat: no-repeat;
        background-size: 200% 200%;
        background-position: 200% 100%;

        &:last-child {
          animation-delay: 0.15s;
        }
        &:hover {
          color: #000;
          background-position: 0% 0%;
          transform: scale(1.01);
          box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.1);
        }
        &:active {
          transition-duration: 0.15s;
          transform: scale(0.98);
          box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.25);
        }
      }
    }
    &-bg {
      .leaf-1 {
        position: absolute;
        top: 10%;
        left: 0;
        width: 11%;
        height: auto;
      }
      .leaf-2 {
        position: absolute;
        top: 6%;
        left: 15%;
        width: 8%;
        height: auto;
      }
   
    }
  }
  &__smile {
    position: absolute;
    top: 100%;
    right: 50%;
    width: 18em;
    background: $white;
    border-radius: 50%;
    transform: translate(50%, -50%);
    &-space {
      padding-bottom: 100%;
    }
    &-face {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 86%;
      height: 86%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: radial-gradient(
        179.23% 118.23% at 101.46% 0%,
        #b0a9fe 0%,
        #86a4f4 45%,
        #fbb64f 79.84%
      );
      background-size: 120% 120%;
      animation: faceAnimation 0.9s ease both;

      svg {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 70%;
        height: 30%;
        transform: translateX(-50%);
      }
      .smile {
        animation: smileAnimation 0.8s ease-in-out both 0.5s;
      }
    }
  }
}

@mixin xxxlg-max-index {
  .hero {
    &__inner {
      font-size: 1vh;
    }
  }
}
