$black: #111;
$black-2: #404040;

$red: #f87171;
$white: #fff;
$white-1: #f9f9f9;
$white-2: #f3f3f3;

$gray: #c8c8c8;
$gray-1: #dcdcdc;
$gray-2: #e8e8e8;

$gradient: linear-gradient(
  171.93deg,
  #d0acff 1.28%,
  #81a3fa 31.34%,
  #fab54e 71.24%
);

