@import url("https://fonts.googleapis.com/css2?family=Trocchi&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.4em;
}

/* Typography */
h1 {
  font-size: 50px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 1.8em;
}

.nowrap {
  white-space: nowrap;
}

/*** 

====================================================================
	Reset
====================================================================

***/
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
}

button:focus {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
  ====================================================================
      Global Settings
  ====================================================================
   ***/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #111;
  line-height: 1.4;
  font-weight: 400;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
body.active {
  overflow: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeFly {
  from {
    -webkit-transform: translate(-50%, -30%) rotateX(-10deg) scale(0.8);
            transform: translate(-50%, -30%) rotateX(-10deg) scale(0.8);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes fadeFly {
  from {
    -webkit-transform: translate(-50%, -30%) rotateX(-10deg) scale(0.8);
            transform: translate(-50%, -30%) rotateX(-10deg) scale(0.8);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.95;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.95;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.autoContainer {
  max-width: 1510px;
  margin: 0 auto;
  padding: 0 30px;
}

.logo {
  width: 220px;
}
.logo img {
  width: 100%;
}

.button {
  position: relative;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  padding: 10px 16px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}
.button--dark {
  color: #fff;
  background: #404040;
}
.button--dark:hover {
  background: rgba(17, 17, 17, 0.9);
}
.button--text {
  color: #404040;
  background: transparent;
  text-decoration: underline;
}
.button--text:hover {
  color: #111;
  text-decoration: none;
}
.button:disabled {
  cursor: default;
  color: #dcdcdc;
  background: #e8e8e8;
  opacity: 1 !important;
}

.select {
  position: relative;
  min-width: 130px;
}
.select__selected {
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 25px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #404040;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}
.select__selected:hover {
  opacity: 0.8;
}
.select__selected:after {
  color: inherit;
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 0.8em;
  width: 0.4em;
  height: 0.4em;
  border-bottom: 1.8px solid currentColor;
  border-right: 1.8px solid currentColor;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.select__options {
  position: absolute;
  top: calc(100% - 3px);
  width: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 0 0 8px 8px;
  border-top: unset;
  -webkit-transition: max-height 0.3s ease, border-color 0s ease 0.3s, opacity 0.1s ease 0.2s;
  transition: max-height 0.3s ease, border-color 0s ease 0.3s, opacity 0.1s ease 0.2s;
  scrollbar-width: none; /* Firefox 64 */
  -ms-overflow-style: none; /* Internet Explorer 11 */
  z-index: 1;
}
.select__options::-webkit-scrollbar {
  /** WebKit */
  display: none;
}
.select__options li {
  cursor: pointer;
  padding: 5px 15px;
  border-top: 1px solid rgba(64, 64, 64, 0.1);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.select__options li:hover {
  background: #f3f3f3;
}
.select__options li:first-child {
  border-top: unset;
}
.select__options li strong {
  color: #404040;
  font-weight: 500;
  pointer-events: none;
}
.select__options li p {
  pointer-events: none;
}
.select.active .select__selected {
  color: #111;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
}
.select.active .select__selected:after {
  -webkit-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
}
.select.active .select__options {
  top: 100%;
  max-height: 30vh;
  overflow-y: auto;
  border-color: #dcdcdc;
  opacity: 1;
  -webkit-transition: max-height 0.4s ease, opacity 0.2s ease;
  transition: max-height 0.4s ease, opacity 0.2s ease;
}
.select .select__options p, .select .select__selected p {
  color: #c8c8c8;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.select--fluid .select__label {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 2px 8px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #dcdcdc;
  font-size: 16px;
  line-height: 1.2;
}
.select--fluid .select__label::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  background: #f9f9f9;
  z-index: -1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.select--fluid .select__options {
  position: fixed;
  border: 1px solid #dcdcdc;
}
.select--fluid .select__selected {
  color: #c8c8c8;
  border: 1px solid #dcdcdc;
  background: #f9f9f9;
  border-radius: 4px;
}
.select--fluid .select__selected:before {
  display: none;
}
.select--fluid .select__selected:after {
  border-top: 5px solid currentColor;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.select--fluid.selected .select__label {
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.select--fluid.selected .select__label::before {
  top: 45%;
  height: 50%;
}
.select--fluid.active .select__selected {
  border: 1px solid #404040;
  border-radius: 4px;
}
.select--fluid.active .select__options {
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 600px;
  height: 80vh;
  max-height: 80%;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 15px 0;
  -webkit-box-shadow: 0 0 5px 5px rgba(220, 220, 220, 0.2);
          box-shadow: 0 0 5px 5px rgba(220, 220, 220, 0.2);
}

.badge {
  background: #dcdcdc;
  border-radius: 5px;
  padding: 6px 20px;
  color: #111;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}

.loader {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
}
.loader div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid #404040;
  border-radius: 50%;
  -webkit-animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #404040 transparent transparent transparent;
}
.loader div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #dcdcdc;
  z-index: 111;
}
.preloader .logo {
  width: 60%;
  max-width: 320px;
  margin-bottom: 50px;
}
.preloader._exit {
  -webkit-animation: fadeOut ease both;
          animation: fadeOut ease both;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.header {
  padding: 35px 0;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__inner-logo {
  width: 140px;
}
.header__inner-logo img {
  width: 100%;
  height: auto;
}
.header__inner-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.header__inner-menu .burger {
  margin-left: 30px;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 10px;
  width: 2.6em;
  height: 2em;
  color: #111;
  background: transparent;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.burger span, .burger::after, .burger::before {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 0.32em;
  background-color: currentColor;
  border-radius: 0.4em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.burger span {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.burger::before {
  content: "";
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.burger::after {
  content: "";
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.burger:hover {
  opacity: 0.8;
}
.burger.active {
  color: #404040;
}
.burger.active::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
          transform: translate(-50%, 50%) rotate(-45deg);
}
.burger.active span {
  width: 0;
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(17, 17, 17, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 10;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0s ease 0.25s, opacity 0.2s ease-in-out 0s;
  transition: all 0s ease 0.25s, opacity 0.2s ease-in-out 0s;
}
.menu__inner {
  position: relative;
  max-width: 420px;
  width: 95%;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  -webkit-box-shadow: 0px 4px 24px -1px rgba(17, 17, 17, 0.2);
          box-shadow: 0px 4px 24px -1px rgba(17, 17, 17, 0.2);
  padding: 50px 25px;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  opacity: 0;
  -webkit-transition: 0.15s ease-in-out 0s;
  transition: 0.15s ease-in-out 0s;
}
.menu__inner-close {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 2px;
  color: #404040;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.menu__inner-close svg {
  width: 22px;
  height: 22px;
}
.menu__inner-close:hover {
  color: rgba(17, 17, 17, 0.6);
}
.menu__inner-title {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  line-height: 1;
  color: #111;
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 25px;
}
.menu__inner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  gap: 8px;
}
.menu.active {
  pointer-events: all;
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.menu.active .menu__inner {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out 0.05s;
  transition: 0.3s ease-in-out 0.05s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.menu.preloader .menu__inner {
  padding: 50px 25px 25px 25px;
}
.menu.preloader .menu__inner-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu.preloader .menu__inner-title img {
  width: 140px;
  height: auto;
  -webkit-animation: pulse 0.8s ease-in-out infinite alternate;
          animation: pulse 0.8s ease-in-out infinite alternate;
}
.menu.preloader .menu__inner p {
  text-align: center;
  margin-top: 20px;
}

.questions__inner {
  padding: 20px 16px 16px 16px;
  background: #f3f3f3;
  border-radius: 18px;
}
.questions__inner-body {
  position: relative;
  -webkit-perspective: 100vw;
          perspective: 100vw;
}
.questions__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -8px;
}
.questions__inner-column {
  width: calc(20% - 16px);
  margin: 8px;
}
.questions__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  padding: 10px 5px;
  text-align: center;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.questions__header.muted {
  color: #c8c8c8;
}
.questions__item {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 10px -1px rgba(17, 17, 17, 0.15);
          box-shadow: 0px 4px 10px -1px rgba(17, 17, 17, 0.15);
  border-radius: 8px;
  padding: 35px 10px;
  background: #fff;
  z-index: 0;
  -webkit-transition: 0.2s ease-out 0.05s;
  transition: 0.2s ease-out 0.05s;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
}
.questions__item:after, .questions__item:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 8px;
  background: inherit;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.2s ease-out 0.05s;
  transition: 0.2s ease-out 0.05s;
}
.questions__item::before {
  background: linear-gradient(171.93deg, #d0acff 1.28%, #81a3fa 31.34%, #fab54e 71.24%);
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  opacity: 0;
  z-index: -2;
  -webkit-transition: 0s;
  transition: 0s;
}
.questions__item:hover {
  -webkit-box-shadow: 0px 4px 24px -1px rgba(17, 17, 17, 0.2);
          box-shadow: 0px 4px 24px -1px rgba(17, 17, 17, 0.2);
}
.questions__item:hover:after {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
}
.questions__item:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.questions__item:active {
  -webkit-box-shadow: 0px 4px 24px -1px rgba(17, 17, 17, 0.2);
          box-shadow: 0px 4px 24px -1px rgba(17, 17, 17, 0.2);
}
.questions__item:active:after {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}
.questions__item:active::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.questions__item.disabled {
  cursor: default;
  color: #c8c8c8;
  font-weight: 600;
  background: #e8e8e8;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}
.questions__item.disabled:after, .questions__item.disabled:before {
  display: none;
}
.questions__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 99%;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -webkit-animation: fadeFly 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) both;
          animation: fadeFly 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  z-index: 1;
}
.questions__message-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 22px;
}
.questions__message-header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1em;
}
.questions__message-header button svg {
  width: 1.1em;
  height: 1.1em;
  margin-left: 0.5em;
}
.questions__message-header button .badge {
  margin-left: 1em;
}
.questions__message-header button:hover {
  color: rgba(64, 64, 64, 0.8);
}
.questions__message-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 50px;
}
.questions__message-content-image {
  height: 100px;
  margin-bottom: 25px;
  max-width: 60%;
}
.questions__message-content-image img {
  width: auto;
  height: 100%;
  max-width: 100%;
  -webkit-animation: fadeIn 0.4s ease both;
          animation: fadeIn 0.4s ease both;
}
.questions__message-content h3 {
  text-align: center;
  font-weight: 600;
  width: 90%;
  max-width: 1000px;
}
.questions__message-footer {
  position: relative;
  padding: 20px 50px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.questions__message-footer h2 {
  text-align: center;
  min-height: 3em;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.questions__message-footer::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 50%;
  width: 90%;
  height: 2.5px;
  background: #c8c8c8;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.questions__message-buttons {
  display: none;
}
.questions__message .questionMark {
  display: block;
}
.questions__message .answerMark {
  display: none;
}
.questions__message.answered .questionMark {
  display: none;
}
.questions__message.answered .answerMark {
  display: block;
}
.questions__message.answered .questions__message-content h3 {
  font-weight: 400;
  -webkit-animation: fadeIn 0.4s ease both;
          animation: fadeIn 0.4s ease both;
}
.questions__message.answered .questions__message-footer {
  padding: 30px 50px;
  opacity: 1;
}
.questions__message.answered .questions__message-footer h2 {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.questions__message.simple {
  top: -5px;
  left: 0;
  -webkit-animation: fadeIn 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) both;
          animation: fadeIn 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

.teams {
  padding: 30px 0;
}
.teams__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-y: auto;
  overflow-x: visible;
  padding: 8px 30px;
  scrollbar-width: none; /* Firefox 64 */
  -ms-overflow-style: none; /* Internet Explorer 11 */
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.teams__inner::-webkit-scrollbar {
  /** WebKit */
  display: none;
}
.teams__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  min-width: 130px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px -1px rgba(17, 17, 17, 0.15);
          box-shadow: 0px 4px 10px -1px rgba(17, 17, 17, 0.15);
  border-radius: 8px;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.teams__card strong {
  color: #111;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}
.teams__card label {
  padding: 8px 12px;
  background: #f9f9f9;
  border-radius: 4px;
  margin-bottom: 5px;
  color: #111;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 1;
  text-align: center;
}
.teams__card > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.teams__card > div button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  background: #fff;
  border-radius: 0.25em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
}
.teams__card > div button:hover {
  background: #f9f9f9;
}
.teams__card > div button:active {
  opacity: 0.6;
}
.teams__card.disabled label {
  color: #c8c8c8;
}

.version {
  position: absolute;
  bottom: 5px;
  right: 15px;
  color: #404040;
  font-size: 12px;
}

@media (max-width: 1180px) {
  .questions__header {
    font-size: 18px;
  }
  .questions__item {
    font-size: 36px;
  }
  .questions__message-content h3 {
    font-size: 36px;
  }
  .questions__message-footer h2 {
    font-size: 40px;
  }
}
@media (max-width: 1024px) {
  .autoContainer {
    padding: 0 20px;
  }
  .questions__header {
    font-size: 16px;
  }
  .questions__item {
    font-size: 34px;
  }
  .questions__message-content h3 {
    font-size: 32px;
  }
  .questions__message-footer h2 {
    font-size: 36px;
  }
  .questions__message.answered .questions__message-footer {
    padding: 20px 50px;
  }
  .teams__inner {
    padding: 8px;
  }
}
@media (max-width: 840px) {
  .questions__header {
    font-size: 14px;
  }
  .questions__item {
    font-size: 32px;
  }
  .questions__message-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
  }
  .questions__message-header-close span {
    display: none;
  }
  .questions__message-header-answer {
    display: none !important;
  }
  .questions__message-content h3 {
    font-size: 30px;
  }
  .questions__message-footer h2 {
    font-size: 26px;
  }
  .questions__message-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 10px 3vh 10px;
  }
  .questions__message-buttons .button {
    -webkit-box-flex: 0.8;
        -ms-flex-positive: 0.8;
            flex-grow: 0.8;
    margin: 0 auto;
  }
  .teams__card {
    padding: 10px;
  }
  .teams__card > div button {
    padding: 3px 0;
  }
}
@media (max-height: 1100px) {
  .header {
    padding: 25px 0;
  }
  .header__inner-logo {
    width: 110px;
  }
  .questions__header {
    font-size: 2vh;
  }
  .questions__item {
    padding: 0.8em 0.2em;
    font-size: 3.63vh;
  }
  .teams {
    padding: 2.5vh 0;
  }
  .teams__card {
    font-size: 1.4vh;
    padding-top: 1em;
    padding-bottom: 1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .teams__card strong {
    line-height: 1.2;
  }
  .teams__card label {
    padding: 0.4em 12px;
    font-size: 1.6em;
  }
  .teams__card > div button {
    font-size: 3vh;
  }
}
@media (max-height: 840px) {
  .questions__message-header {
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .questions__message-header button {
    font-size: 2vh;
  }
  .questions__message-header button .badge {
    font-size: 0.8em;
  }
  .questions__message-content {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  .questions__message-content-image {
    height: 10vh;
    margin-bottom: 2vh;
  }
  .questions__message-content h3 {
    font-size: 3.5vh;
  }
  .questions__message-footer {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
  }
  .questions__message-footer h2 {
    font-size: 3vh;
  }
  .questions__message-footer::before {
    height: 1px;
  }
  .questions__message.answered .questions__message-footer {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  .questions__inner {
    padding: 16px;
  }
  .questions__inner-row {
    margin: -5px;
  }
  .questions__inner-column {
    width: calc(20% - 10px);
    margin: 5px;
  }
  .questions__item {
    padding: 0.65em 0.2em;
  }
}
@media (max-width: 700px) {
  .autoContainer {
    padding: 0 15px;
  }
  .questions__inner {
    padding: 16px;
  }
  .questions__inner-row {
    margin: -5px;
  }
  .questions__inner-column {
    width: calc(20% - 10px);
    margin: 5px;
  }
  .questions__header {
    font-size: 12px;
  }
  .questions__message-footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 580px) {
  .header {
    padding: 30px 0 20px 0;
  }
  .questions__header {
    padding: 6px 2px;
  }
  .questions__item {
    font-size: 3.5vh !important;
  }
  .questions__message-content {
    padding: 10px 20px;
  }
  .questions__message-content h3 {
    font-size: 24px;
    width: 100%;
  }
  .questions__message-footer {
    padding: 8px 20px;
  }
  .questions__message-footer h2 {
    font-size: 18px;
  }
  .questions__message.answered .questions__message-footer {
    padding: 10px 20px;
  }
}
@media (max-width: 420px) {
  .header {
    padding: 20px 0 15px 0;
  }
  .header .burger {
    margin-left: 20px;
  }
  .menu__inner {
    padding: 40px 15px;
  }
  .menu__inner-close {
    padding: 4px;
  }
  .menu__inner-close svg {
    width: 16px;
    height: 16px;
  }
  .menu__inner-title {
    font-size: 22px;
    padding-bottom: 15px;
  }
  .menu__inner-buttons .select {
    width: 100%;
  }
  .menu__inner-buttons .button--dark {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .questions .autoContainer {
    padding: 0 10px;
  }
  .questions__inner {
    padding: 10px;
  }
  .questions__inner-row {
    margin: -3px;
  }
  .questions__inner-column {
    width: calc(20% - 6px);
    margin: 3px;
  }
}
@media (max-height: 600px) {
  .header {
    padding: 12px 0;
  }
  .header__inner-logo {
    width: 90px;
  }
  .header__inner-menu {
    font-size: 14px;
  }
  .header__inner-menu .burger {
    font-size: 8px;
  }
  .menu {
    overflow: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .menu__inner {
    -webkit-box-shadow: 0px 4px 14px -1px rgba(17, 17, 17, 0.2);
            box-shadow: 0px 4px 14px -1px rgba(17, 17, 17, 0.2);
    padding: 25px 15px;
  }
  .menu__inner-close {
    top: 12px;
    right: 12px;
  }
  .menu__inner-close svg {
    width: 15px;
    height: 15px;
  }
  .menu__inner-close:hover {
    color: rgba(17, 17, 17, 0.6);
  }
  .menu__inner-title {
    font-size: 16px;
    padding-bottom: 15px;
  }
  .menu__inner-buttons {
    padding-top: 15px;
    gap: 8px;
  }
  .menu__inner-buttons .select {
    width: 100%;
  }
  .menu__inner-buttons .select__options {
    position: unset;
    max-height: 0;
  }
  .menu__inner-buttons .select.active .select__options {
    max-height: 60vh;
  }
  .menu__inner-buttons #continueBtn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .questions__message-content {
    padding: 6px 10px;
  }
  .questions__message-content h3 {
    font-size: 16px;
    width: 100%;
  }
  .questions__message-footer {
    padding: 2px 10px;
  }
  .questions__message-footer h2 {
    font-size: 14px;
  }
  .questions__message.answered .questions__message-footer {
    padding: 6px 10px;
  }
  .questions__item {
    font-size: 14px !important;
    border-radius: 4px;
  }
  .questions__header {
    font-size: 12px !important;
  }
  .questions__inner {
    border-radius: 6px;
    padding: 6px;
  }
  .questions__inner-row {
    margin: -3px;
  }
  .questions__inner-column {
    width: calc(20% - 4px);
    margin: 2px;
  }
  .teams {
    padding: 10px 0 20px 0 !important;
  }
  .teams__card strong {
    font-size: 12px !important;
    margin-bottom: 5px;
  }
  .teams__card label {
    font-size: 12px !important;
    margin-bottom: 5px;
  }
  .teams__card > div button {
    font-size: 14px !important;
  }
}